<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        <div class="Nav">Emotion Detector App</div>
        <div class="CardContainer">
            <a href=monitor>
                <div class="Card">
                    <div class="Poster">
                    <img className="poster" src='https://picsum.photos/id/250/200/300'></img>
                    </div>
                    <div class="CardHeader">
                        <h2>Start Monitoring Emotion</h2>
                    </div>
                    <div class="GrowDiv"></div>
                </div>
            </a>
        </div>
       
    </body>
</html>